*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'poppins' , sans-serif; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(28, 28, 28);
}

/* container */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 50px 0px;
}

/* card */
.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 380px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.5 );
    transition: 0.9s;
}

/* .container .card:hover{
    height: 1100px;
} */

/* imgbx */
.container .card .imgbx{
    position: absolute;
    top: 20px;
    width: 250px;
    height: 290px;
    background-color: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.6s;
}

.container .card:hover .imgbx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.container .card .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.container .card .content{
    position: absolute;
    top: 330px;
    width: 100%;
    padding: 0 30px;
    height: 29px;
    overflow: hidden;
    text-align: center;
    transition: 0.6s;
    font-family: 'Courier New', Courier, monospace;
}

.container .card:hover .content{
    top: 180px;
    height: 100%;
}

.container .card:hover .content h2{
    font-size: 1.5em;
    font-weight: 700;
}

.container .card:hover .content p{
    color: white;
    padding-top: 15px;
}


.card1:hover{
    height: 560px;
}


.card2:hover{
    height: 1390px;
}

.card3:hover{
    height: 1000px;
}

@media (max-width:385px) {
    .card{
        width: 280px;
    }

    .card .imgbx{
        width: 100%;
        height: 100%;
    }

    .container .card:hover .content p{
        font-size: 13px;
    }

    .card1:hover{
    height: 500px;
}


    .card2:hover{
    height: 1220px;
}

    .card3:hover{
    height: 900px;
}
}